{% extends "store_homepage.html" %}
{% load static %}
{% block topIcons %}
<div id="templatemo_header">
    <div id="site_title"><h3>Hii, <b><i>{{user.first_name}}</i></b></h3></div>
    <div id="header_right">
        <p></p>
        <p>
            Shopping Cart: <strong>{{cart_count}} items</strong> ( <a href="{% url 'show_cart' %}">Show Cart</a> )
        </p>
    </div>
    <div class="cleaner"></div>
</div>
{% endblock topIcons %}
{% block heading %}
    	<div id="top_nav" class="ddsmoothmenu">
            <ul>
                    <li><a href="{% url 'delete_products' %}">Back to Home Page</a></li>
            </ul>
            <br style="clear: left" />
        </div> <!-- end of ddsmoothmenu -->
{% endblock heading %}
{% block category %}
{% endblock category %}
{% block bestsellers %}
{% endblock bestsellers %}
{% block content %}
<script type="text/javascript" src="{% static 'sports_store/js/custom.js' %}"></script>
        <div id="content" class="float_r">
        	<h2>Checkout</h2>
            <h5><strong>BILLING INFORMATION</strong></h5>
            <form method="post" action="booking_product">
                {% csrf_token %}
                <div class="content_half float_l checkout">
                    Full Name:  
                    <input type="text"  style="width:300px;" value="{{user.first_name}} {{user.last_name}}" readonly  />
                    <br />
                    <br />
                Address:
                    <input type="text" name="address"  style="width:300px;" required />
                    <br />
                    <br />
                District:
                    <input type="text" name="district"  style="width:300px;" required  />
                    <br />
                    <br />
                    City:
                    <input type="text" name="city"  style="width:300px;" required />
                    <br />
                    <br />
                    Pincode:
                    <!-- <input type="number" name="pincode" minlength="6" maxlength="6" pattern="(\d{3})-?\s?(\d{3})" style="width:300px;" required /> -->
                    <br /><input name="pincode" style="width:300px;" pattern=".{6,}"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        type = "number"
                        maxlength = "6"
                        minlength="6"
                    />
                </div>
                
                <div class="content_half float_r checkout">
                    E-MAIL
                    <input type="text"  style="width:300px;" value="{{user.email}}" readonly />
                    <br />
                    <br />
            PHONE<br />
                    <input type="tel" name="phone" pattern=(\d{3})-?\s?(\d{3})-?\s?(\d{4})  style="width:300px;" required />
                    <br/><br><br/><br/>
                    Delivered On or Before
                    <input type="hidden" name="delivery_date" style="width:300px;" value="{{deliveryDate|date:'Y-m-d'}}">
                    <input type="text"  style="width:300px;" value="{{ deliveryDate|date:'D, jS b Y'}} " readonly />
    
                    <br />
                </div>
                
                <input type="hidden" name="orderId" value="{{orderId}}">
                <input type="hidden" name="productsCount" value="{{productsCount}}">
                <input type="hidden" name="totalPrice" value="{{total}}">
                <div class="cleaner h50"></div>
                <h4>TOTAL AMOUNT: <strong>Rs. {{total}}</strong></h4>
                <input type="submit" class="payment_btn"  name="submit" id="submit" value="Place Order" />
                <p><input type="checkbox" required />
                I accept the <a href="#">terms of use</a> of this website.</p>
                </div>
            </form>    
        <div class="cleaner"></div>
        <style type="text/css">
            .payment_btn{
                background: #008CBA;;
                color:white;
                padding: 10px 38px;
                float: right;
            }
            .payment_btn:hover {
                background-color: #000;
                color: #ffffff;
            }
        </style>
{% endblock content%}
<!-- <td><a href="#" class="more">2CHECKOUT</a></td> -->
    </div> 
</div> 

</body>
</html>